@media (max-width: 1069px) {
  #MainPage #firstLineImageCoffe {
    width: 130vh;
    height: 45vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition img {
    width: 60vh;
    height: 38vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe {
    width: 55vh;
    padding-left: 10vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe h2 {
    font-size: 30px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe p {
    font-size: 15px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe button {
    width: 25vh;
    height: 5.25vh;
    font-size: 11.5px;
  }
  #MainPage #secondLineImages {
    gap: 20px;
  }
  #MainPage #secondLineImages .secondLineImgs {
    width: 44vh;
  }
  #MainPage #secondLineImages .secondLineImgs img {
    width: 35vh;
  }
  #MainPage #ThirdLineCombos {
    gap: 25px;
  }
  #MainPage #ThirdLineCombos .offers {
    height: 67.5vh;
  }
  #MainPage #ThirdLineCombos .offers #FText {
    margin-bottom: 48px;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart h3 {
    padding-left: 15px;
  }
}
@media (max-width: 969px) {
  #MainPage #firstLineImageCoffe {
    width: 130vh;
    height: 50vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition img {
    width: 55vh;
    height: 40vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe {
    padding-left: 2vh;
  }
  #MainPage #secondLineImages {
    gap: 20px;
  }
  #MainPage #secondLineImages .secondLineImgs {
    width: 39vh;
  }
  #MainPage #secondLineImages .secondLineImgs img {
    width: 30vh;
  }
  #MainPage #DoYouWantToTaste {
    font-size: 30px;
    margin-top: 90px;
  }
  #MainPage #TasteOurCombo {
    font-family: "Proxima Nova Condensed", sans-serif;
    font-size: 18px;
    margin-top: 20px;
    color: #292929;
    margin-bottom: -10px;
  }
  #MainPage #ThirdLineCombos {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 45px;
         column-gap: 45px;
    row-gap: 0px;
  }
  #MainPage #ThirdLineCombos .offers {
    height: 60vh;
    width: 50vh;
  }
  #MainPage #ThirdLineCombos .offers #FText {
    margin-bottom: 48px;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart {
    justify-content: center;
    align-items: center;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart h3 {
    padding-right: 30px;
    padding-left: 0;
    font-size: 19px;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart button {
    padding-left: 30px;
  }
  #footer {
    height: 40vh;
  }
  #footer #footP {
    width: 40vh;
    margin-left: 30px;
    font-size: 15px;
  }
  #footer ul li {
    padding: 5px 0;
    font-size: 15px;
  }
  #footer ul li h3 {
    font-size: 20px;
  }
  #footer ul li:nth-child(1) {
    padding-bottom: 10px;
  }
  #footer div h3 {
    font-size: 20px;
  }
}
@media (max-width: 869px) {
  #MainPage #h1mainpage {
    padding-top: 6vh;
    padding-bottom: 6vh;
    font-size: 28px;
  }
  #MainPage #OurtopDrinks {
    margin-top: 50px;
    font-size: 28px;
  }
  #MainPage #firstLineImageCoffe {
    width: 113vh;
    height: 48vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition img {
    width: 50vh;
    height: 40vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe {
    width: 50vh;
    padding-left: 5vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe h2 {
    font-size: 25px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe p {
    font-size: 16px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe button {
    width: 28vh;
    height: 6vh;
    font-size: 16px;
  }
  #MainPage #secondLineImages {
    gap: 20px;
    margin-top: 30px;
  }
  #MainPage #secondLineImages .secondLineImgs {
    width: 34vh;
  }
  #MainPage #secondLineImages .secondLineImgs img {
    width: 25vh;
  }
}
@media (max-width: 769px) {
  #header #bottomHeader {
    height: 21vh;
  }
  #header #bottomHeader .logoTXt {
    font-size: 35px;
  }
  #header #bottomHeader #mainLogo {
    width: 16vh;
    height: 16vh;
  }
  #MainPage #h1mainpage {
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 25px;
  }
  #MainPage #OurtopDrinks {
    margin-top: 50px;
    font-size: 25px;
  }
  #MainPage #firstLineImageCoffe {
    width: 97vh;
    height: 45vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition img {
    width: 43vh;
    height: 35vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe {
    width: 45vh;
    padding-left: 5vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe h2 {
    font-size: 23px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe p {
    font-size: 14px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe button {
    width: 24vh;
    height: 5vh;
    font-size: 14px;
  }
  #MainPage #secondLineImages {
    gap: 15px;
  }
  #MainPage #secondLineImages .secondLineImgs {
    width: 29vh;
    height: 37vh;
  }
  #MainPage #secondLineImages .secondLineImgs img {
    width: 20vh;
    height: 24vh;
  }
  #MainPage #DoYouWantToTaste {
    font-size: 25px;
  }
  #MainPage #TasteOurCombo {
    font-family: "Proxima Nova Condensed", sans-serif;
    font-size: 17px;
    margin-top: 15px;
    color: #292929;
  }
  #MainPage #ThirdLineCombos {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 0px;
  }
  #MainPage #ThirdLineCombos .offers {
    height: 63.5vh;
    width: 42vh;
  }
  #MainPage #ThirdLineCombos .offers #FText {
    margin-bottom: 52px;
  }
  #MainPage #ThirdLineCombos .offers #FoText {
    margin-bottom: 77px;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart {
    justify-content: center;
    align-items: center;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart h3 {
    padding-right: 0;
    padding-left: 8px;
    font-size: 19px;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart button {
    padding-left: 20px;
  }
  #footer {
    height: 35vh;
  }
  #footer #footP {
    width: 40vh;
    margin-left: 30px;
    font-size: 13px;
  }
  #footer ul {
    padding-right: 0;
  }
  #footer ul li {
    padding: 3px 0;
    font-size: 14px;
  }
  #footer ul li h3 {
    font-size: 20px;
  }
  #footer ul li:nth-child(1) {
    padding-bottom: 10px;
  }
  #footer div h3 {
    font-size: 20px;
  }
}
@media (max-width: 669px) {
  #MainPage #firstLineImageCoffe {
    width: 85vh;
    height: 37vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition img {
    width: 34vh;
    height: 28vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe {
    width: 42vh;
    padding-left: 4vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe h2 {
    font-size: 20px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe p {
    font-size: 12px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe button {
    width: 22vh;
    height: 4.5vh;
    font-size: 13px;
  }
  #MainPage #secondLineImages {
    grid-template-columns: repeat(2, 40vh);
    gap: 24px;
    font-size: 20px;
  }
  #MainPage #secondLineImages #FirstImg {
    width: 40vh;
    height: 40vh;
  }
  #MainPage #secondLineImages #FirstImg img {
    width: 30vh;
    height: 28vh;
  }
  #MainPage #secondLineImages #SecondImg {
    width: 40vh;
    height: 40vh;
  }
  #MainPage #secondLineImages #SecondImg img {
    width: 30vh;
    height: 28vh;
  }
  #MainPage #secondLineImages #thirdImg {
    width: 82.5vh;
    height: 23vh;
  }
  #MainPage #secondLineImages #thirdImg img {
    height: 18vh;
    float: left;
    margin-left: 6vh;
  }
  #MainPage #secondLineImages #thirdImg p {
    padding-top: 7vh;
  }
  #MainPage #ThirdLineCombos {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 0px;
  }
  #MainPage #ThirdLineCombos .offers {
    height: 65.5vh;
    width: 37vh;
  }
  #MainPage #ThirdLineCombos .offers #FText {
    margin-bottom: 40px;
  }
  #MainPage #ThirdLineCombos .offers #TText {
    margin-bottom: 65px;
  }
  #MainPage #ThirdLineCombos .offers #FoText {
    margin-bottom: 39px;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart h3 {
    padding-right: 0;
    padding-left: 17px;
    font-size: 19px;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart button {
    padding-left: 0px;
  }
}
@media (max-width: 569px) {
  #header .navbar {
    height: 6.5vh;
  }
  #header .navbar .container-fluid {
    background-color: #F7EBE5;
  }
  #header .navbar .container-fluid .navbar-toggler {
    padding: 0 7px 1px 7px;
  }
  #header .navbar .container-fluid .navbar-toggler-icon {
    align-self: center;
    font-size: 9px;
  }
  #header .navbar-collapse .navbar-nav .nav-item {
    padding-top: 8px;
  }
  #header .navbar-collapse .navbar-nav .nav-item #garantee {
    padding-top: 12px;
  }
  #header .navbar-collapse .navbar-nav .nav-item a {
    font-size: 16px;
    padding-top: 0;
  }
  #header #bottomHeader {
    height: 18vh;
  }
  #header #bottomHeader .logoTXt {
    font-size: 30px;
    padding: 0 17px;
  }
  #header #bottomHeader #mainLogo {
    width: 13.5vh;
    height: 13.5vh;
  }
  #MainPage #firstLineImageCoffe {
    width: 68vh;
    height: 30vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition img {
    width: 26vh;
    height: 23vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe {
    width: 33vh;
    padding-left: 3vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe h2 {
    font-size: 20px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe p {
    font-size: 11px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe button {
    width: 18vh;
    height: 4vh;
    font-size: 11px;
  }
  #MainPage #secondLineImages {
    margin-left: 7%;
    gap: 0px;
    row-gap: 23px;
  }
  #MainPage #secondLineImages #FirstImg {
    width: 35vh;
  }
  #MainPage #secondLineImages #FirstImg img {
    width: 25vh;
  }
  #MainPage #secondLineImages #SecondImg {
    width: 35vh;
  }
  #MainPage #secondLineImages #SecondImg img {
    width: 25vh;
  }
  #MainPage #secondLineImages #thirdImg {
    width: 75.5vh;
  }
  #MainPage #DoYouWantToTaste {
    font-size: 23px;
    margin-top: 110px;
  }
  #MainPage #TasteOurCombo {
    font-family: "Proxima Nova Condensed", sans-serif;
    font-size: 14px;
    margin-top: 20px;
    color: #292929;
  }
  #MainPage #ThirdLineCombos {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  #MainPage #ThirdLineCombos .offers {
    height: 69vh;
    width: 34vh;
    margin-bottom: -10px;
  }
  #MainPage #ThirdLineCombos .offers #FText {
    margin-bottom: 40px;
  }
  #MainPage #ThirdLineCombos .offers #SText {
    margin-bottom: 16px;
  }
  #MainPage #ThirdLineCombos .offers #TText {
    margin-bottom: 65px;
  }
  #MainPage #ThirdLineCombos .offers #FoText {
    margin-bottom: 64px;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart h3 {
    padding-right: 0;
    padding-left: 17px;
    font-size: 19px;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart button {
    padding-left: 0px;
  }
}
@media (max-width: 469px) {
  #header .navbar {
    height: 5vh;
  }
  #header .navbar .container-fluid {
    background-color: #F7EBE5;
  }
  #header .navbar .container-fluid .navbar-toggler {
    padding: 0 7px 1px 7px;
  }
  #header .navbar .container-fluid .navbar-toggler-icon {
    align-self: center;
    font-size: 9px;
  }
  #header .navbar-collapse .navbar-nav .nav-item #garantee {
    padding-top: 10px;
  }
  #header .navbar-collapse .navbar-nav .nav-item a {
    font-size: 15px;
    padding-top: 0;
  }
  #MainPage #h1mainpage {
    padding-top: 4vh;
    padding-bottom: 3vh;
    font-size: 22px;
  }
  #MainPage #OurtopDrinks {
    margin-top: 40px;
    font-size: 22px;
  }
  #MainPage #firstLineImageCoffe {
    width: 62vh;
    height: 30vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition img {
    width: 25vh;
    height: 24vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe {
    width: 30vh;
    padding-left: 4vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe h2 {
    font-size: 18px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe p {
    font-size: 9px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe button {
    width: 14vh;
    height: 3vh;
    font-size: 10px;
  }
  #MainPage #secondLineImages {
    margin-top: 20px;
    grid-template-columns: 40vh;
  }
  #MainPage #secondLineImages #FirstImg {
    width: 40vh;
    height: 45vh;
  }
  #MainPage #secondLineImages #FirstImg img {
    width: 30vh;
  }
  #MainPage #secondLineImages #SecondImg {
    width: 40vh;
    height: 45vh;
  }
  #MainPage #secondLineImages #SecondImg img {
    width: 30vh;
  }
  #MainPage #secondLineImages #thirdImg {
    width: 40vh;
    height: 45vh;
  }
  #MainPage #secondLineImages #thirdImg img {
    width: 30vh;
    height: 28vh;
    float: none;
    margin-left: 0;
  }
  #MainPage #secondLineImages #thirdImg p {
    padding-top: 0;
  }
  #MainPage #ThirdLineCombos {
    grid-template-columns: 1fr;
  }
  #MainPage #ThirdLineCombos .offers {
    height: 69vh;
    width: 42vh;
    margin-bottom: -10px;
  }
  #MainPage #ThirdLineCombos .offers #FText {
    margin-bottom: 91px;
  }
  #MainPage #ThirdLineCombos .offers #SText {
    margin-bottom: 91px;
  }
  #MainPage #ThirdLineCombos .offers #TText {
    margin-bottom: 91px;
  }
  #MainPage #ThirdLineCombos .offers #FoText {
    margin-bottom: 114px;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart h3 {
    padding-right: 0;
    padding-left: 17px;
    font-size: 19px;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart button {
    padding-left: 0px;
  }
  #footer {
    height: 28vh;
  }
  #footer #footP {
    width: 40vh;
    margin-left: 30px;
    font-size: 10px;
  }
  #footer ul li {
    padding: 2px 0;
    font-size: 12px;
  }
  #footer ul li h3 {
    font-size: 17px;
  }
  #footer ul li:nth-child(1) {
    padding-bottom: 7px;
  }
  #footer div {
    margin-right: 20px;
    margin-top: 40px;
  }
  #footer div h3 {
    font-size: 15px;
  }
}
@media (max-width: 369px) {
  #header .navbar {
    height: 5vh;
  }
  #header .navbar .container-fluid {
    background-color: #F7EBE5;
  }
  #header .navbar .container-fluid .navbar-toggler {
    padding: 0 7px 1px 7px;
  }
  #header .navbar .container-fluid .navbar-toggler-icon {
    align-self: center;
    font-size: 9px;
  }
  #header .navbar .navbar-collapse .navbar-nav .nav-item #garantee {
    padding-top: 10px;
  }
  #header .navbar .navbar-collapse .navbar-nav .nav-item a {
    font-size: 12px;
    padding-top: 0;
  }
  #header #bottomHeader {
    height: 14vh;
  }
  #header #bottomHeader .logoTXt {
    font-size: 23px;
  }
  #header #bottomHeader #mainLogo {
    width: 11vh;
    height: 11vh;
  }
  #MainPage #h1mainpage {
    padding-top: 4vh;
    padding-bottom: 3vh;
    font-size: 18px;
  }
  #MainPage #OurtopDrinks {
    margin-top: 40px;
    font-size: 22px;
  }
  #MainPage #DoYouWantToTaste {
    font-size: 18px;
    margin-top: 40px;
  }
  #MainPage #TasteOurCombo {
    font-size: 13px;
    margin-top: 10px;
  }
  #MainPage #firstLineImageCoffe {
    width: 48.5vh;
    height: 25vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition img {
    width: 20vh;
    height: 19vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe {
    width: 25vh;
    padding-left: 4vh;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe h2 {
    font-size: 15px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe p {
    font-size: 8px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe button {
    width: 13vh;
    height: 3vh;
    font-size: 10px;
  }
  #MainPage #secondLineImages {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  #MainPage #secondLineImages #FirstImg {
    width: 34vh;
    height: 37vh;
  }
  #MainPage #secondLineImages #FirstImg img {
    width: 24vh;
    height: 24vh;
  }
  #MainPage #secondLineImages #FirstImg p {
    margin-top: 10px;
    font-size: 17px;
  }
  #MainPage #secondLineImages #SecondImg {
    width: 34vh;
    height: 37vh;
  }
  #MainPage #secondLineImages #SecondImg img {
    width: 24vh;
    height: 24vh;
  }
  #MainPage #secondLineImages #SecondImg p {
    margin-top: 10px;
    font-size: 17px;
  }
  #MainPage #secondLineImages #thirdImg {
    width: 34vh;
    height: 37vh;
  }
  #MainPage #secondLineImages #thirdImg img {
    width: 24vh;
    height: 24vh;
  }
  #MainPage #secondLineImages #thirdImg p {
    margin-top: 10px;
    font-size: 17px;
  }
  #MainPage #ThirdLineCombos {
    margin-left: 0;
    grid-template-columns: 1fr;
    row-gap: 40px;
    margin-top: 0px;
  }
  #MainPage #ThirdLineCombos .offers:nth-child(1) {
    margin-top: 20px;
  }
  #MainPage #ThirdLineCombos .offers:nth-child(2) {
    display: block;
  }
  #MainPage #ThirdLineCombos .offers:nth-child(2) img {
    width: 37vh;
  }
  #MainPage #ThirdLineCombos .offers:nth-child(3) {
    display: block;
  }
  #MainPage #ThirdLineCombos .offers:nth-child(3) img {
    width: 37vh;
  }
  #MainPage #ThirdLineCombos .offers {
    height: 65vh;
    width: 37vh;
    margin-bottom: 0;
    margin-top: 0;
  }
  #MainPage #ThirdLineCombos .offers h4 {
    font-size: 20px;
  }
  #MainPage #ThirdLineCombos .offers p {
    font-size: 13px;
  }
  #MainPage #ThirdLineCombos .offers #FText {
    margin-bottom: 11.8vh;
  }
  #MainPage #ThirdLineCombos .offers #SText {
    margin-bottom: 8vh;
  }
  #MainPage #ThirdLineCombos .offers #TText {
    margin-bottom: 11.8vh;
  }
  #MainPage #ThirdLineCombos .offers #FoText {
    margin-bottom: 14.7vh;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart h3 {
    padding-right: 0;
    padding-left: 17px;
    font-size: 19px;
  }
  #MainPage #ThirdLineCombos .offers .ThLinePriceCart button {
    padding-left: 0px;
  }
  #MainPage #AllSets {
    margin-top: 7vh;
  }
  #footer {
    height: 28vh;
  }
  #footer #footP {
    display: none;
  }
  #footer ul li {
    padding: 2px 0;
    font-size: 12px;
  }
  #footer ul li h3 {
    font-size: 17px;
  }
  #footer ul li:nth-child(1) {
    padding-bottom: 7px;
  }
  #footer div {
    width: 20vh;
    margin: auto 0;
  }
  #footer div p {
    display: none;
  }
  #footer div h3 {
    margin-right: 20px;
    font-size: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
* #header {
  display: flex;
  flex-direction: column;
}
* #header .navbar {
  background-color: #F7EBE5;
}
* #header .navbar #navbarNavDropdown {
  justify-content: space-around;
}
* #header .navbar #navbarNavDropdown .navbar-nav #teleInst {
  margin: auto 0;
}
* #header #bottomHeader {
  display: flex;
  justify-content: center;
  height: 23vh;
  width: 100%;
}
* #header #bottomHeader .logoTXt {
  font-size: 40px;
  align-self: center;
  padding: 0 25px;
  background: linear-gradient(330deg, #4B2E2E 20%, #C69C6D 30%, #F5E1C0 35%, #A58D6F 75%, #FFF8E7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
* #header #bottomHeader #mainLogo {
  align-self: center;
  border-radius: 50%;
  width: 17vh;
  height: 17vh;
}
* #MainPage {
  min-width: 320px;
  width: 100%;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* #MainPage #h1mainpage {
  padding-top: 50px;
  padding-bottom: 50px;
}
* #MainPage #firstLineImageCoffe {
  width: 150vh;
  height: 53vh;
  background-color: #FAF3E0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
* #MainPage #firstLineImageCoffe .coffedefenition {
  display: flex;
}
* #MainPage #firstLineImageCoffe .coffedefenition img {
  border-radius: 10px;
  width: 70vh;
  height: 45vh;
}
* #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe {
  width: 63vh;
  text-align: center;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
* #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe h2 {
  font-size: 30px;
}
* #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe p {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-size: 18px;
  color: #292929;
}
* #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe button {
  width: 30vh;
  height: 6.5vh;
  align-self: center;
  border: 1px solid #4E9DD3;
  font-weight: 600;
  font-size: 16px;
  background-color: #FAF3E0;
}
* #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe button:hover {
  background-color: #f4e6c3;
  position: relative;
  top: 3px;
  left: 1px;
}
* #MainPage #OurtopDrinks {
  margin-top: 70px;
  font-weight: 600;
}
* #MainPage #secondLineImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 50px;
}
* #MainPage #secondLineImages .secondLineImgs {
  width: 47vh;
  height: 42vh;
  align-content: center;
  text-align: center;
  border-radius: 10px;
}
* #MainPage #secondLineImages .secondLineImgs img {
  width: 37vh;
  height: 30vh;
  border-radius: 5px;
}
* #MainPage #secondLineImages .secondLineImgs p {
  color: #fff;
}
* #MainPage #secondLineImages div:nth-child(1) {
  background-color: #A67B5B;
}
* #MainPage #secondLineImages div:nth-child(2) {
  background-color: #8B5A2B;
}
* #MainPage #secondLineImages div:nth-child(3) {
  background-color: #C69C6D;
}
* #MainPage #DoYouWantToTaste {
  font-size: 30px;
  margin-top: 110px;
  font-weight: 600;
}
* #MainPage #TasteOurCombo {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-size: 18px;
  margin-top: 20px;
  color: #292929;
}
* #MainPage #ThirdLineCombos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}
* #MainPage #ThirdLineCombos .offers {
  margin-top: 50px;
  width: 35.5vh;
  height: 61vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
* #MainPage #ThirdLineCombos .offers img {
  width: 35, 5vh;
  height: 28.6vh;
  border-radius: 5px;
}
* #MainPage #ThirdLineCombos .offers h4 {
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
}
* #MainPage #ThirdLineCombos .offers p {
  color: #292929;
  padding-left: 15px;
}
* #MainPage #ThirdLineCombos .offers #FText {
  margin-bottom: 24px;
}
* #MainPage #ThirdLineCombos .offers #SText {
  margin-bottom: 24px;
}
* #MainPage #ThirdLineCombos .offers #TText {
  margin-bottom: 53px;
}
* #MainPage #ThirdLineCombos .offers #FoText {
  margin-bottom: 48px;
}
* #MainPage #ThirdLineCombos .offers hr {
  margin: 0;
}
* #MainPage #ThirdLineCombos .offers .ThLinePriceCart {
  display: flex;
  height: 6.5vh;
}
* #MainPage #ThirdLineCombos .offers .ThLinePriceCart h3 {
  width: 18vh;
  align-self: center;
  padding-top: 10px;
  padding-left: 20px;
  color: #E7426A;
  font-size: 20px;
}
* #MainPage #ThirdLineCombos .offers .ThLinePriceCart button {
  width: 18vh;
  height: 6.5vh;
  align-self: flex-end;
  justify-self: center;
  border: none;
  background-color: #fff;
  font-weight: 600;
  font-size: 14px;
}
* #MainPage #ThirdLineCombos .offers .ThLinePriceCart .verticalLine {
  width: 1px;
  height: 7.1vh;
  background-color: gray;
}
* #MainPage #AllSets {
  width: 289px;
  height: 50px;
  border: 1px solid #4E9DD3;
  background-color: #fff;
  border-radius: 3px;
  margin-top: 55px;
  margin-bottom: 55px;
  font-weight: 600;
  font-size: 14px;
}
* #MainPage #AllSets:hover {
  background-color: #f2ebeb;
  position: relative;
  top: 3px;
  left: 1px;
}
* #footer {
  background-color: #EBEDEE;
  width: 100%;
  height: 318px;
  display: flex;
  justify-content: space-around;
  color: #292929;
}
* #footer p {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-size: 16px;
  color: #292929;
  align-self: center;
}
* #footer ul {
  align-self: center;
  list-style: none;
}
* #footer ul li {
  padding: 7px 0;
}
* #footer ul li:nth-child(1) {
  padding-bottom: 15px;
}
* #footer div {
  text-align: right;
  margin-top: 75px;
  margin-right: 40px;
}
* #footer div h3 {
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}