@media only screen and (max-width: 430px) {
  #header {
    width: 200%;
  }
  #header #topHeader {
    height: 59px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
  }
  #MainPage {
    width: 200%;
  }
  #MainPage #h1mainpage {
    font-size: 28px;
  }
  #MainPage #firstLineImageCoffe {
    width: 800px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition img {
    border-radius: 10px;
    width: 360px;
    height: 300px;
  }
  #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe {
    width: 400px;
  }
  #MainPage #OurtopDrinks {
    margin-top: 40px;
  }
  #MainPage #secondLineImages {
    margin-top: 20px;
    width: 760px;
    margin-right: 25px;
    display: grid;
    grid-template-rows: 358px 196px;
    grid-template-columns: 50% 50%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  #MainPage #secondLineImages p {
    font-size: 24px;
  }
  #MainPage #secondLineImages div:nth-child(1) {
    width: 380px;
    height: 358px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #MainPage #secondLineImages div:nth-child(1) p {
    padding-top: 25px;
  }
  #MainPage #secondLineImages div:nth-child(2) {
    width: 380px;
    height: 358px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #MainPage #secondLineImages div:nth-child(2) p {
    padding-top: 25px;
  }
  #MainPage #secondLineImages div:nth-child(3) {
    width: 790px;
    height: 190px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #MainPage #secondLineImages div:nth-child(3) img {
    height: 140px;
    float: left;
    margin-left: 60px;
  }
  #MainPage #secondLineImages div:nth-child(3) p {
    padding-top: 58px;
  }
  #MainPage #DoYouWantToTaste {
    margin-top: 80px;
  }
  #MainPage #ThirdLineCombos {
    width: 625px;
    display: grid;
    grid-template-rows: 465px 380px;
    grid-template-columns: 300px 300px;
  }
  #MainPage #AllSets {
    margin-top: 140px;
    font-size: 18px;
  }
  #footer {
    width: 200%;
  }
  #footer p {
    width: 200px;
  }
  #footer ul li {
    font-size: 16px;
    padding: 5px 0;
  }
  #footer div h3 {
    font-size: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
* #header {
  display: flex;
  flex-direction: column;
}
* #header #topHeader {
  background-color: #F7EBE5;
  width: 100%;
  height: 48px;
  display: flex;
  padding: 13px 170px;
  justify-content: space-between;
}
* #header #topHeader a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7882352941);
}
* #header #topHeader #topHeaderL {
  width: 465px;
}
* #header #topHeader #topHeaderL a {
  margin-right: 20px;
}
* #header #topHeader #topHeaderR {
  display: flex;
  justify-content: flex-end;
  width: 629px;
}
* #header #topHeader #topHeaderR a:nth-child(1) {
  padding-right: 80px;
}
* #header #topHeader #topHeaderR a:nth-child(1) i {
  padding-right: 7px;
}
* #header #topHeader #topHeaderR a {
  margin-right: 30px;
}
* #header #topHeader #topHeaderR a #telegram, * #header #topHeader #topHeaderR a #inst {
  font-size: 23px;
}
* #header #bottomHeader {
  display: flex;
  justify-content: center;
  height: 160px;
  width: 100%;
}
* #header #bottomHeader .logoTXt {
  font-size: 40px;
  align-self: center;
  padding: 0 25px;
  background: linear-gradient(330deg, #4B2E2E 20%, #C69C6D 30%, #F5E1C0 35%, #A58D6F 75%, #FFF8E7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
* #header #bottomHeader #mainLogo {
  align-self: center;
  border-radius: 50%;
  width: 124px;
  height: 124px;
}
* #MainPage {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* #MainPage #h1mainpage {
  padding-top: 50px;
  padding-bottom: 50px;
}
* #MainPage #firstLineImageCoffe {
  width: 1168px;
  height: 385px;
  background-color: #FAF3E0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
* #MainPage #firstLineImageCoffe .coffedefenition {
  display: flex;
}
* #MainPage #firstLineImageCoffe .coffedefenition img {
  border-radius: 10px;
  width: 550px;
  height: 345px;
}
* #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe {
  width: 470px;
  text-align: center;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
* #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe h2 {
  font-size: 30px;
}
* #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe p {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-size: 18px;
  color: #292929;
}
* #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe button {
  width: 230px;
  height: 50px;
  align-self: center;
  border: 1px solid #4E9DD3;
  font-weight: 600;
  font-size: 16px;
  background-color: #FAF3E0;
}
* #MainPage #firstLineImageCoffe .coffedefenition #textfirstImageCoffe button:hover {
  background-color: #f4e6c3;
  position: relative;
  top: 3px;
  left: 1px;
}
* #MainPage #OurtopDrinks {
  margin-top: 70px;
}
* #MainPage #secondLineImages {
  display: flex;
  width: 1168px;
  margin-top: 50px;
  justify-content: space-between;
}
* #MainPage #secondLineImages .secondLineImgs {
  width: 359px;
  height: 311px;
  align-content: center;
  text-align: center;
  border-radius: 10px;
}
* #MainPage #secondLineImages .secondLineImgs img {
  border-radius: 5px;
}
* #MainPage #secondLineImages .secondLineImgs p {
  color: #fff;
}
* #MainPage #secondLineImages div:nth-child(1) {
  background-color: #A67B5B;
}
* #MainPage #secondLineImages div:nth-child(2) {
  background-color: #8B5A2B;
}
* #MainPage #secondLineImages div:nth-child(3) {
  background-color: #C69C6D;
}
* #MainPage #DoYouWantToTaste {
  font-size: 30px;
  margin-top: 110px;
}
* #MainPage #TasteOurCombo {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-size: 18px;
  margin-top: 20px;
  color: #292929;
}
* #MainPage #ThirdLineCombos {
  display: flex;
  width: 1168px;
  justify-content: space-between;
}
* #MainPage #ThirdLineCombos .offers {
  margin-top: 50px;
  width: 271px;
  height: 413px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
* #MainPage #ThirdLineCombos .offers img {
  width: 271px;
  height: 220px;
  border-radius: 5px;
}
* #MainPage #ThirdLineCombos .offers h4 {
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
}
* #MainPage #ThirdLineCombos .offers p {
  color: #292929;
  padding-left: 15px;
}
* #MainPage #ThirdLineCombos .offers #FText {
  margin-bottom: 24px;
}
* #MainPage #ThirdLineCombos .offers #SText {
  margin-bottom: 3px;
}
* #MainPage #ThirdLineCombos .offers #TText {
  margin-bottom: 24px;
}
* #MainPage #ThirdLineCombos .offers #FoText {
  margin-bottom: 46px;
}
* #MainPage #ThirdLineCombos .offers .ThLinePriceCart {
  display: flex;
  height: 49px;
}
* #MainPage #ThirdLineCombos .offers .ThLinePriceCart h3 {
  width: 136px;
  align-self: center;
  padding-left: 20px;
  color: #E7426A;
}
* #MainPage #ThirdLineCombos .offers .ThLinePriceCart button {
  width: 130px;
  height: 49px;
  align-self: flex-end;
  justify-self: center;
  border: none;
  background-color: #fff;
  font-weight: 600;
  font-size: 14px;
}
* #MainPage #ThirdLineCombos .offers .ThLinePriceCart .verticalLine {
  width: 1px;
  height: 49px;
  background-color: gray;
}
* #MainPage #AllSets {
  width: 289px;
  height: 50px;
  border: 1px solid #4E9DD3;
  background-color: #fff;
  border-radius: 3px;
  margin-top: 55px;
  margin-bottom: 55px;
  font-weight: 600;
  font-size: 14px;
}
* #MainPage #AllSets:hover {
  background-color: #f2ebeb;
  position: relative;
  top: 3px;
  left: 1px;
}
* #footer {
  background-color: #EBEDEE;
  width: 100%;
  height: 318px;
  display: flex;
  justify-content: space-around;
  color: #292929;
}
* #footer p {
  font-family: "Proxima Nova Condensed", sans-serif;
  font-size: 16px;
  color: #292929;
  align-self: center;
}
* #footer ul {
  align-self: center;
  list-style: none;
}
* #footer ul li {
  padding: 7px 0;
}
* #footer ul li:nth-child(1) {
  padding-bottom: 15px;
}
* #footer div {
  text-align: right;
  margin-top: 75px;
  margin-right: 40px;
}
* #footer div h3 {
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
}