@media (max-width: 1069px){
    #MainPage{
        #secondLineImages{
            gap: 20px;
            .secondLineImgs{
                width: 44vh;
                img{
                    width: 35vh;
                }
            }
        }
    }
}
@media (max-width: 969px){
    #MainPage{
        #secondLineImages{
            gap: 20px;
            .secondLineImgs{
                width: 39vh;
                img{
                    width: 30vh;
                }
            }
        }
    }
}
@media (max-width: 869px){
    #MainPage{
        #secondLineImages{
            gap: 20px;
            .secondLineImgs{
                width: 34vh;
                img{
                    width: 25vh;
                }
            }
        }
    }
}
@media (max-width: 769px){
    #MainPage{
        #secondLineImages{
            gap: 15px;
            .secondLineImgs{
                width: 29vh;
                height: 37vh;
                img{
                    width: 20vh;
                    height: 26vh;
                }
            }
        }
    }
}
@media (max-width: 669px){
    #MainPage{
        #secondLineImages{
            grid-template-columns: repeat(2, 40vh);
            gap: 24px;
            font-size: 20px;
            #FirstImg{
                width: 40vh;
                height: 40vh;
                img{
                    width: 30vh;
                    height: 28vh;
                }
            }
            #SecondImg{
                width: 40vh;
                height: 40vh;
                img{
                    width: 30vh;
                    height: 28vh;
                }
            }
            #thirdImg{
                width: 82.5vh;
                height: 23vh;
                img{
                    height: 18vh;
                    float: left;
                    margin-left: 6vh;
                }
                p{
                    padding-top: 7vh;
                }
            }
        }
    }
}
@media (max-width: 569px){
    #MainPage{
        #secondLineImages{
            margin-left: 7%;
            gap: 0px;
            row-gap: 23px;
            #FirstImg{
                width: 35vh;
                img{
                    width: 25vh;
                }
            }
            #SecondImg{
                width: 35vh;
                img{
                    width: 25vh;
                }
            }
            #thirdImg{
                width: 75.5vh;
            }
        }
    }
}
@media (max-width: 469px){
    #MainPage{
        #secondLineImages{
            grid-template-columns: 40vh;
            #FirstImg{
                width: 40vh;
                height: 45vh;
                img{
                    width: 30vh;
                }
            }
            #SecondImg{
                width: 40vh;
                height: 45vh;
                img{
                    width: 30vh;
                }
            }
            #thirdImg{
                width: 40vh;
                height: 45vh;
                img{
                    width: 30vh;
                    height: 28vh;
                    float: none;
                    margin-left: 0;
                }
                p{
                    padding-top: 0;
                }
            }
        }
    }
}
@media (max-width: 430px){
    #header{
        width: 200%;
        #topHeader{
            height: 59px;
            align-items: center;
            padding-left: 50px;
            padding-right: 50px;
            font-size: 17px;
        }
    }
    #MainPage{
        width: 200%;
        #h1mainpage{
            font-size: 28px;
        }
        #firstLineImageCoffe{
            width: 800px;
            .coffedefenition{
                img{
                    border-radius: 10px;
                    width: 360px;
                    height: 300px;
                }
                #textfirstImageCoffe{
                    width: 400px;
                }
            }
        }
        #OurtopDrinks{
            margin-top: 40px;
        }
        #secondLineImages{
            grid-template-columns: repeat(2, 40vh);
            gap: 24px;
            font-size: 20px;
            #FirstImg{
                width: 40vh;
                height: 40vh;
                img{
                    width: 30vh;
                    height: 28vh;
                }
            }
            #SecondImg{
                width: 40vh;
                height: 40vh;
                img{
                    width: 30vh;
                    height: 28vh;
                }
            }
            #thirdImg{
                grid-column-start: 1;
                grid-column-end: 3;
                width: 82.5vh;
                height: 23vh;
                img{
                    height: 18vh;
                    float: left;
                    margin-left: 6vh;
                }
                p{
                    padding-top: 7vh;
                }
            }
        }
        #DoYouWantToTaste{
            margin-top: 80px;
        }
        #ThirdLineCombos{
            width: 625px;
            display: grid;
            grid-template-rows: 465px 380px;
            grid-template-columns: 300px 300px;
            .offers{

            }
        }
        #AllSets{
            margin-top: 140px;
            font-size: 18px;
        }
    }
    #footer{
        width: 200%;
        p{
            width: 200px;
        }
        ul{
            li{
                font-size: 16px;
                padding: 5px 0;
            }
        }
        div{
            h3{
                font-size: 20px;
            }
        }
    }
}

