*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    #header{
        display: flex;
        flex-direction: column;
        #topHeader{
            background-color: #F7EBE5;
            width: 100%;
            height: 48px;
            display: flex;
            padding: 13px 170px; 
            justify-content: space-between;
            a{
                text-decoration: none;
                color: #000000C9;
            }
            #topHeaderL{
                width: 465px;
                a{
                    margin-right: 20px;
                }
            }
            #topHeaderR{
                display: flex;
                justify-content: flex-end;
                width: 629px;
                a:nth-child(1){
                    padding-right: 80px;
                    i{
                        padding-right: 7px;
                    }
                }
                a{
                    margin-right: 30px;
                    #telegram, #inst{
                        font-size: 23px;
                    }
                }
            }
        } 
        #bottomHeader{
            display: flex;
            justify-content: center;
            margin-top: 23px;
            height: 160px;
            width: 100%;
            .logoTXt{
                font-size: 40px;
                align-self: center;
                padding: 0 25px;
                background: linear-gradient(330deg, #4B2E2E 20%, #C69C6D 30%,  #F5E1C0 35%, #A58D6F 75%, #FFF8E7 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            #mainLogo{
                align-self: center;
                border-radius: 50%;
                width: 124px;
                height: 124px;
            }
        }  
    }
    #MainPage{
        background-color: #F7F7F7;
        display: flex;
        height: 1770px;
        flex-direction: column;
        align-items: center;
        #h1mainpage{
            padding-top: 50px;
            padding-bottom: 50px;
        }
        #firstLineImageCoffe{
            width: 1168px;
            height: 385px;
            background-color:#FAF3E0;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .coffedefenition{
                display: flex;
                img{
                    border-radius: 10px;
                    width: 550px;
                    height: 345px;
                }
                #textfirstImageCoffe{
                    width: 470px;
                    text-align: center;
                    padding-left: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    h2{
                        font-size: 30px;
                    }
                    p{
                        font-family: 'Proxima Nova Condensed', sans-serif;
                        font-size: 18px;
                        color: #292929;
                    }
                    button{
                        width: 230px;
                        height: 50px;
                        align-self: center;
                        border: 1px solid #4E9DD3;
                        font-weight: 600; 
                        font-size: 16px;
                        background-color: #FAF3E0;
                    }
                    button:hover{
                        background-color: #f4e6c3;
                        position: relative;
                        top: 3px;
                        left: 1px;
                    }
                }
            }
        }
        #secondLineImages{
            display: flex;
            width: 1168px;
            margin-top: 50px;
            justify-content: space-between;
            .secondLineImgs{
                width: 359px;
                height: 311px;
                align-content: center;
                text-align: center;
                border-radius: 10px;
                img{
                    border-radius: 5px;
                }
                p{
                    color: #fff;
                }
            }
            div:nth-child(1){
                background-color:#A67B5B;
            }
            div:nth-child(2){
                background-color: #8B5A2B;
            }
            div:nth-child(3){
                background-color: #C69C6D;
            }
            
        }
        #DoYouWantToTaste{
            font-size: 30px;
            margin-top: 70px;
        }
        #TasteOurCombo{
            font-family: 'Proxima Nova Condensed', sans-serif;
            font-size: 18px;
            margin-top: 20px;
            color: #292929;
        }
        #ThirdLineCombos{
            display: flex;
            width: 1168px;
            justify-content: space-between;
            .offers{
                margin-top: 50px;
                width: 271px;
                height: 413px;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                justify-content: space-between; /* Рівномірний розподіл */
                img{
                    width: 271px;
                    height: 220px;
                    border-radius: 5px;
                }
                h4{
                    padding: 15px 0 7px 0;
                }
                p{
                    color: #292929;
                }
                hr{
                    margin-top: 50px;
                    width: 20%; /* Ширина кожної лінії */
                    height: 2px; /* Товщина лінії */
                    background-color: black; /* Колір */
                    border: none; /* Видаляє стандартну межу */
                }
            }
        }
    }
}
